h1:first-child {
  margin: 0px;
}

a {
  color: #FF9800;
}

a:hover {
  color: #FF9800;
}

header {
  padding: 15px;
  background-color: #5C5A5C;
}

.big.logo-banner {
  margin-top: -20px;
  min-height: 125px;
  max-width: 500px;
  background: url('/img/blog-logo.png') no-repeat;
}
.big.logo-banner a {
  display: block;
  width: 100%;
  height: 125px;
}

.small.logo-banner {
  margin-top: -20px;
  height: 125px;
  max-width: 500px;
  background: url('/img/blog-logo.png') no-repeat;
  background-size: 100% auto;
}
.small.logo-banner a {
  display: block;
  width: 100%;
  height: 125px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

span.post-date {
  font-size: 12px;
  color: grey;
}

img.post-thumbnail {
  margin-right: 10px;
}

img.post-thumbnail.small {
  width: 190px;
}

p.post-snippet {
  margin-top: 5px;
}

h4.post-title {
  margin: 0px;
}
